.navbar {
  margin: 0px;
  padding: 0px;
  display: block;
  background-color: aliceblue;
  box-shadow: 4px -3px 14px 0px #3f51b5;

  ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid rgb(47, 55, 163);
    li {
      display: block;
      margin: 15px 5px 5px 5px;
      a {
        color: #fff;
        background-color: rgb(47, 55, 163);
        border-bottom: 2px solid rgb(47, 55, 163);
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        padding: 5px;
        margin: 0;
        &.active {
          color: rgb(47, 55, 163);
          background-color: aliceblue;
          border-bottom: 0px solid aliceblue;
        }
      }
    }
  }
}
