form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .form-group {
    display: block;
    margin: 10px;
  }
  .form-input {
    display: block;
    margin: 10px;
  }
  input {
    width: 200px;
    padding: 5px;
    line-height: 20px;
    font-size: 16px;
  }
  button.btn-submit {
    margin: 10px;
    width: 100px;
    padding: 5px;
  }
}
.col {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.row {
  display: flex;
  flex-direction: row;
}
